* {
  margin: 0;
  padding: 0;
  box-shadow: none;
  font-family: sans-serif;
  font-weight: normal;
}

input[type=text] {
  background: none;
  border: none;
}

fieldset {
  border: none;
}

body {
  background: #000;
  color: #fff;
}

@font-face {
  font-family: "welcom";
  src: url("../../font/ACE_RECORDS.TTF");
}
@font-face {
  font-family: "pseudo";
  src: url("../../font/ARDESTINE.TTF");
}
@font-face {
  font-family: "title";
  src: url("../../font/BLOX2.TTF");
}
@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}
@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}
@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  to {
    -webkit-mask-position: -50%;
  }
}
@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 681px 1546px #FFF , 460px 1343px #FFF , 1944px 1117px #FFF , 384px 1779px #FFF , 1196px 1707px #FFF , 89px 829px #FFF , 1609px 359px #FFF , 276px 676px #FFF , 1978px 1421px #FFF , 1479px 293px #FFF , 1826px 895px #FFF , 667px 1676px #FFF , 290px 795px #FFF , 1861px 665px #FFF , 1489px 148px #FFF , 918px 287px #FFF , 1534px 1846px #FFF , 1179px 856px #FFF , 684px 639px #FFF , 912px 1794px #FFF , 622px 1477px #FFF , 973px 1672px #FFF , 1990px 1234px #FFF , 565px 1330px #FFF , 1007px 1532px #FFF , 693px 819px #FFF , 1290px 287px #FFF , 978px 795px #FFF , 1123px 507px #FFF , 1841px 1510px #FFF , 1130px 1195px #FFF , 909px 1058px #FFF , 1718px 1794px #FFF , 1392px 1560px #FFF , 1608px 3px #FFF , 723px 623px #FFF , 22px 14px #FFF , 1406px 859px #FFF , 1082px 695px #FFF , 461px 1026px #FFF , 1163px 409px #FFF , 1400px 1178px #FFF , 1897px 279px #FFF , 912px 644px #FFF , 708px 1484px #FFF , 947px 836px #FFF , 1908px 424px #FFF , 294px 1084px #FFF , 358px 37px #FFF , 662px 654px #FFF , 1454px 281px #FFF , 966px 1902px #FFF , 360px 1301px #FFF , 738px 1208px #FFF , 1729px 325px #FFF , 370px 308px #FFF , 141px 1199px #FFF , 1351px 1774px #FFF , 1109px 1592px #FFF , 618px 1195px #FFF , 67px 1979px #FFF , 582px 1134px #FFF , 1871px 495px #FFF , 206px 1224px #FFF , 411px 1470px #FFF , 721px 276px #FFF , 80px 471px #FFF , 476px 1951px #FFF , 809px 309px #FFF , 859px 1655px #FFF , 288px 1304px #FFF , 80px 883px #FFF , 1769px 1214px #FFF , 1822px 905px #FFF , 1197px 774px #FFF , 831px 50px #FFF , 1402px 1824px #FFF , 14px 497px #FFF , 369px 1423px #FFF , 942px 1993px #FFF , 1379px 699px #FFF , 1541px 1660px #FFF , 1511px 1615px #FFF , 855px 1371px #FFF , 1170px 530px #FFF , 978px 972px #FFF , 1093px 762px #FFF , 457px 783px #FFF , 1209px 862px #FFF , 1355px 1362px #FFF , 1812px 1726px #FFF , 1910px 21px #FFF , 174px 421px #FFF , 108px 1932px #FFF , 1052px 132px #FFF , 1280px 1293px #FFF , 1815px 1855px #FFF , 1516px 1577px #FFF , 722px 1842px #FFF , 1337px 1841px #FFF , 1941px 1186px #FFF , 517px 423px #FFF , 11px 1021px #FFF , 1312px 1055px #FFF , 611px 254px #FFF , 541px 1753px #FFF , 50px 469px #FFF , 1540px 522px #FFF , 43px 1242px #FFF , 148px 1011px #FFF , 1612px 132px #FFF , 283px 1314px #FFF , 1047px 626px #FFF , 1101px 899px #FFF , 1173px 1584px #FFF , 270px 181px #FFF , 1090px 421px #FFF , 1904px 1452px #FFF , 225px 101px #FFF , 612px 810px #FFF , 897px 632px #FFF , 1268px 1107px #FFF , 140px 1552px #FFF , 893px 1856px #FFF , 1646px 1528px #FFF , 991px 220px #FFF , 991px 1832px #FFF , 560px 122px #FFF , 58px 865px #FFF , 417px 1934px #FFF , 314px 244px #FFF , 846px 1021px #FFF , 768px 1462px #FFF , 1192px 1076px #FFF , 1738px 1020px #FFF , 188px 1504px #FFF , 799px 1349px #FFF , 1583px 917px #FFF , 621px 1260px #FFF , 476px 61px #FFF , 85px 1993px #FFF , 853px 1714px #FFF , 155px 476px #FFF , 943px 1371px #FFF , 1119px 1285px #FFF , 1435px 1743px #FFF , 1468px 1872px #FFF , 308px 1367px #FFF , 642px 1930px #FFF , 1926px 1606px #FFF , 1519px 1767px #FFF , 31px 1768px #FFF , 440px 1186px #FFF , 118px 1638px #FFF , 1602px 235px #FFF , 1394px 809px #FFF , 454px 1154px #FFF , 1501px 730px #FFF , 270px 1149px #FFF , 355px 184px #FFF , 1394px 1182px #FFF , 958px 985px #FFF , 1972px 56px #FFF , 957px 340px #FFF , 196px 1809px #FFF , 734px 55px #FFF , 80px 1123px #FFF , 1976px 577px #FFF , 1838px 1936px #FFF , 184px 464px #FFF , 1068px 1401px #FFF , 340px 930px #FFF , 1169px 935px #FFF , 1770px 145px #FFF , 818px 1092px #FFF , 811px 1355px #FFF , 1524px 490px #FFF , 1213px 1804px #FFF , 742px 1904px #FFF , 865px 731px #FFF , 926px 1507px #FFF , 1110px 1229px #FFF , 783px 797px #FFF , 1661px 1697px #FFF , 273px 1958px #FFF , 1730px 290px #FFF , 1589px 1454px #FFF , 1976px 1732px #FFF , 485px 862px #FFF , 925px 92px #FFF , 1679px 685px #FFF , 1939px 1435px #FFF , 1453px 923px #FFF , 1753px 1983px #FFF , 1789px 1366px #FFF , 946px 1624px #FFF , 1543px 227px #FFF , 631px 1671px #FFF , 611px 1540px #FFF , 1856px 367px #FFF , 650px 1px #FFF , 1948px 1730px #FFF , 1945px 558px #FFF , 1953px 962px #FFF , 1253px 816px #FFF , 117px 1179px #FFF , 1834px 1395px #FFF , 1001px 307px #FFF , 1543px 1702px #FFF , 1647px 1487px #FFF , 102px 1326px #FFF , 74px 465px #FFF , 1609px 1282px #FFF , 1415px 1833px #FFF , 349px 1193px #FFF , 1360px 209px #FFF , 1248px 842px #FFF , 1935px 1543px #FFF , 575px 459px #FFF , 1797px 884px #FFF , 362px 1380px #FFF , 86px 1696px #FFF , 1394px 1490px #FFF , 163px 31px #FFF , 957px 490px #FFF , 1165px 1375px #FFF , 1929px 978px #FFF , 1428px 1721px #FFF , 1495px 194px #FFF , 807px 1347px #FFF , 494px 1301px #FFF , 846px 392px #FFF , 1437px 393px #FFF , 657px 154px #FFF , 1907px 1705px #FFF , 667px 1486px #FFF , 165px 512px #FFF , 1220px 1018px #FFF , 1932px 883px #FFF , 1033px 1703px #FFF , 1251px 1880px #FFF , 923px 3px #FFF , 88px 475px #FFF , 962px 128px #FFF , 346px 261px #FFF , 1573px 684px #FFF , 201px 646px #FFF , 489px 1772px #FFF , 1398px 726px #FFF , 1091px 1755px #FFF , 473px 1661px #FFF , 1635px 1829px #FFF , 325px 1851px #FFF , 1405px 1059px #FFF , 1035px 1895px #FFF , 1108px 153px #FFF , 820px 1270px #FFF , 627px 1940px #FFF , 1614px 1010px #FFF , 1820px 910px #FFF , 158px 1050px #FFF , 1885px 593px #FFF , 1971px 119px #FFF , 870px 1722px #FFF , 1251px 1003px #FFF , 1226px 1229px #FFF , 1120px 704px #FFF , 882px 519px #FFF , 1090px 796px #FFF , 863px 432px #FFF , 877px 245px #FFF , 1971px 591px #FFF , 1076px 783px #FFF , 1194px 549px #FFF , 761px 858px #FFF , 298px 1436px #FFF , 206px 1937px #FFF , 1785px 1948px #FFF , 1333px 1593px #FFF , 1459px 330px #FFF , 1384px 415px #FFF , 170px 950px #FFF , 103px 1117px #FFF , 1938px 1760px #FFF , 805px 1038px #FFF , 1910px 1181px #FFF , 342px 1964px #FFF , 589px 453px #FFF , 1504px 1750px #FFF , 840px 929px #FFF , 1737px 1223px #FFF , 52px 1810px #FFF , 1143px 157px #FFF , 1993px 1118px #FFF , 1338px 245px #FFF , 1697px 757px #FFF , 2px 1848px #FFF , 1883px 354px #FFF , 1885px 344px #FFF , 1771px 1615px #FFF , 1120px 503px #FFF , 359px 92px #FFF , 1562px 1125px #FFF , 1837px 1813px #FFF , 569px 1343px #FFF , 1097px 570px #FFF , 905px 1927px #FFF , 1910px 252px #FFF , 1878px 1463px #FFF , 1504px 1061px #FFF , 822px 1723px #FFF , 1954px 823px #FFF , 1771px 32px #FFF , 1751px 413px #FFF , 791px 42px #FFF , 1471px 1896px #FFF , 1634px 1489px #FFF , 238px 361px #FFF , 1082px 1233px #FFF , 1451px 5px #FFF , 1182px 1794px #FFF , 19px 383px #FFF , 1081px 849px #FFF , 648px 893px #FFF , 54px 860px #FFF , 1823px 916px #FFF , 326px 1852px #FFF , 1740px 980px #FFF , 1007px 1294px #FFF , 1589px 471px #FFF , 1218px 111px #FFF , 1054px 1666px #FFF , 1525px 534px #FFF , 1898px 1598px #FFF , 1674px 1340px #FFF , 217px 387px #FFF , 932px 810px #FFF , 474px 1989px #FFF , 139px 1845px #FFF , 723px 1502px #FFF , 1619px 535px #FFF , 1416px 1444px #FFF , 862px 1146px #FFF , 1355px 340px #FFF , 1399px 1019px #FFF , 1670px 437px #FFF , 1424px 394px #FFF , 146px 1738px #FFF , 217px 1813px #FFF , 1633px 247px #FFF , 123px 625px #FFF , 1878px 387px #FFF , 263px 460px #FFF , 528px 475px #FFF , 41px 403px #FFF , 597px 1047px #FFF , 1117px 1672px #FFF , 1108px 917px #FFF , 22px 681px #FFF , 666px 1474px #FFF , 1103px 1783px #FFF , 1700px 1084px #FFF , 222px 1089px #FFF , 790px 1484px #FFF , 528px 64px #FFF , 1726px 1664px #FFF , 1216px 1625px #FFF , 1156px 15px #FFF , 341px 1393px #FFF , 1540px 257px #FFF , 1673px 602px #FFF , 95px 527px #FFF , 737px 553px #FFF , 554px 728px #FFF , 50px 1649px #FFF , 1509px 1749px #FFF , 1902px 1834px #FFF , 21px 630px #FFF , 1307px 1678px #FFF , 474px 574px #FFF , 1377px 972px #FFF , 1279px 1924px #FFF , 569px 1210px #FFF , 334px 91px #FFF , 1465px 1300px #FFF , 820px 1378px #FFF , 731px 1955px #FFF , 880px 807px #FFF , 371px 1091px #FFF , 286px 1685px #FFF , 918px 223px #FFF , 813px 27px #FFF , 35px 722px #FFF , 410px 1814px #FFF , 930px 156px #FFF , 1707px 1119px #FFF , 1395px 317px #FFF , 718px 1317px #FFF , 1937px 1054px #FFF , 919px 531px #FFF , 744px 247px #FFF , 737px 729px #FFF , 81px 1662px #FFF , 1105px 1035px #FFF , 717px 992px #FFF , 1996px 323px #FFF , 1410px 716px #FFF , 1534px 1164px #FFF , 90px 991px #FFF , 742px 541px #FFF , 80px 3px #FFF , 79px 1760px #FFF , 399px 1517px #FFF , 1807px 1336px #FFF , 1201px 1894px #FFF , 1785px 948px #FFF , 5px 394px #FFF , 1991px 276px #FFF , 579px 551px #FFF , 296px 617px #FFF , 1071px 1080px #FFF , 1231px 107px #FFF , 153px 379px #FFF , 154px 1984px #FFF , 485px 440px #FFF , 591px 501px #FFF , 688px 1036px #FFF , 1147px 602px #FFF , 1793px 1945px #FFF , 1933px 167px #FFF , 1500px 578px #FFF , 1162px 1194px #FFF , 1311px 1313px #FFF , 1380px 1304px #FFF , 1530px 773px #FFF , 973px 483px #FFF , 381px 1229px #FFF , 1748px 1353px #FFF , 1602px 1819px #FFF , 1111px 1902px #FFF , 706px 1359px #FFF , 28px 317px #FFF , 1742px 320px #FFF , 1336px 1326px #FFF , 1235px 1563px #FFF , 1582px 715px #FFF , 99px 1349px #FFF , 1969px 285px #FFF , 1229px 1619px #FFF , 1714px 188px #FFF , 522px 343px #FFF , 994px 901px #FFF , 798px 1061px #FFF , 1433px 1353px #FFF , 1671px 1372px #FFF , 1030px 1517px #FFF , 339px 275px #FFF , 986px 726px #FFF , 437px 807px #FFF , 1843px 1849px #FFF , 802px 1136px #FFF , 1870px 187px #FFF , 1145px 72px #FFF , 1025px 1196px #FFF , 1153px 571px #FFF , 411px 1712px #FFF , 953px 75px #FFF , 981px 32px #FFF , 1225px 144px #FFF , 1473px 1273px #FFF , 1570px 883px #FFF , 1971px 515px #FFF , 1939px 337px #FFF , 513px 1233px #FFF , 284px 1183px #FFF , 1320px 1730px #FFF , 1153px 1309px #FFF , 58px 636px #FFF , 1688px 1732px #FFF , 1622px 394px #FFF , 195px 1803px #FFF , 242px 1552px #FFF , 289px 1592px #FFF , 1236px 1938px #FFF , 668px 828px #FFF , 1824px 108px #FFF , 891px 1088px #FFF , 1714px 1773px #FFF , 1105px 1416px #FFF , 1636px 1717px #FFF , 913px 359px #FFF , 172px 1716px #FFF , 519px 211px #FFF , 271px 1024px #FFF , 391px 1030px #FFF , 923px 338px #FFF , 1101px 919px #FFF , 792px 334px #FFF , 1102px 1010px #FFF , 1483px 470px #FFF , 1839px 438px #FFF , 562px 738px #FFF , 846px 1544px #FFF , 1817px 793px #FFF , 567px 1216px #FFF , 1452px 1124px #FFF , 533px 763px #FFF , 1919px 895px #FFF , 506px 1462px #FFF , 1128px 985px #FFF , 1124px 822px #FFF , 504px 520px #FFF , 1322px 355px #FFF , 1457px 1471px #FFF , 177px 578px #FFF , 1992px 380px #FFF , 1721px 55px #FFF , 1561px 420px #FFF , 303px 259px #FFF , 849px 1198px #FFF , 1808px 864px #FFF , 542px 1982px #FFF , 1256px 1527px #FFF , 721px 1595px #FFF , 878px 740px #FFF , 1388px 287px #FFF , 1692px 1771px #FFF , 678px 926px #FFF , 829px 1832px #FFF , 1235px 996px #FFF , 793px 1179px #FFF , 392px 271px #FFF , 699px 1095px #FFF , 1030px 1817px #FFF , 104px 1658px #FFF , 1752px 166px #FFF , 1129px 1055px #FFF , 227px 326px #FFF , 247px 547px #FFF , 1970px 1813px #FFF , 158px 1313px #FFF , 495px 1190px #FFF , 1157px 1374px #FFF , 532px 64px #FFF , 1193px 331px #FFF , 899px 316px #FFF , 1393px 53px #FFF , 194px 127px #FFF , 388px 1963px #FFF , 1423px 1759px #FFF , 594px 463px #FFF , 754px 1894px #FFF , 1229px 950px #FFF , 1500px 246px #FFF , 608px 435px #FFF , 1855px 1207px #FFF , 113px 207px #FFF , 359px 369px #FFF , 1908px 919px #FFF , 1042px 1292px #FFF , 302px 1338px #FFF , 478px 1517px #FFF , 667px 544px #FFF , 1767px 1966px #FFF , 1390px 863px #FFF , 1372px 1238px #FFF , 401px 1338px #FFF , 357px 634px #FFF , 344px 1987px #FFF , 1622px 1056px #FFF , 673px 622px #FFF , 804px 174px #FFF , 566px 155px #FFF , 1875px 422px #FFF , 1386px 1026px #FFF , 1574px 1171px #FFF , 301px 1693px #FFF , 1204px 1154px #FFF , 358px 1501px #FFF , 1350px 1512px #FFF , 1314px 1840px #FFF , 1474px 823px #FFF , 167px 893px #FFF , 899px 363px #FFF , 1292px 220px #FFF , 1848px 1230px #FFF , 1295px 1940px #FFF , 1553px 431px #FFF , 1636px 610px #FFF , 1124px 1999px #FFF , 658px 1857px #FFF , 80px 1848px #FFF , 973px 1649px #FFF , 1940px 837px #FFF , 1180px 794px #FFF , 1635px 1515px #FFF , 693px 999px #FFF , 1224px 1195px #FFF , 1609px 127px #FFF , 605px 1915px #FFF , 1026px 1799px #FFF , 165px 1328px #FFF , 608px 1497px #FFF , 443px 1418px #FFF , 1592px 1212px #FFF , 254px 1638px #FFF , 226px 168px #FFF , 1922px 412px #FFF , 1616px 1272px #FFF , 195px 292px #FFF , 1903px 912px #FFF , 1149px 742px #FFF , 1323px 1714px #FFF , 568px 711px #FFF , 404px 738px #FFF , 1027px 1744px #FFF , 1846px 796px #FFF , 361px 1763px #FFF , 1813px 568px #FFF , 1301px 1188px #FFF , 1867px 1100px #FFF , 891px 978px #FFF , 300px 833px #FFF , 1121px 311px #FFF , 1287px 522px #FFF , 1970px 63px #FFF , 555px 38px #FFF , 951px 519px #FFF , 114px 1884px #FFF , 1660px 1826px #FFF , 340px 1670px #FFF , 1898px 1209px #FFF , 1216px 1220px #FFF , 1554px 205px #FFF , 1291px 1523px #FFF , 1643px 1789px #FFF , 1175px 561px #FFF , 767px 1640px #FFF , 1794px 749px #FFF , 727px 834px #FFF , 1686px 475px #FFF , 1693px 920px #FFF , 1942px 1974px #FFF , 829px 878px #FFF , 1305px 1542px #FFF , 592px 1453px #FFF , 1890px 700px #FFF , 1051px 599px #FFF , 1714px 790px #FFF , 416px 1128px #FFF , 1546px 501px #FFF , 1883px 594px #FFF , 1720px 1768px #FFF , 22px 954px #FFF , 812px 448px #FFF , 1401px 519px #FFF , 87px 205px #FFF , 1274px 1500px #FFF , 1111px 499px #FFF , 1160px 1225px #FFF , 1450px 1382px #FFF , 1271px 1899px #FFF , 1444px 1352px #FFF , 280px 1106px #FFF , 1472px 1619px #FFF , 1163px 1249px #FFF , 476px 822px #FFF , 548px 1901px #FFF , 992px 855px #FFF , 559px 1351px #FFF , 564px 1006px #FFF , 168px 1280px #FFF , 643px 568px #FFF , 1237px 928px #FFF , 355px 84px #FFF , 1615px 1954px #FFF , 1053px 1023px #FFF , 1086px 224px #FFF , 1346px 548px #FFF , 261px 1328px #FFF , 1747px 1553px #FFF , 406px 1153px #FFF , 3px 1176px #FFF , 950px 492px #FFF , 375px 914px #FFF , 688px 1624px #FFF , 1860px 1833px #FFF , 1760px 1655px #FFF , 1358px 1199px #FFF , 1488px 711px #FFF , 728px 1232px #FFF , 1076px 1023px #FFF , 154px 222px #FFF , 1042px 1340px #FFF , 171px 922px #FFF , 1199px 723px #FFF , 911px 916px #FFF , 110px 413px #FFF , 280px 172px #FFF , 936px 1071px #FFF;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: "";
  position: absolute;
  top: 2000px;
  background: transparent;
  width: 1px;
  height: 1px;
  box-shadow: 681px 1546px #FFF , 460px 1343px #FFF , 1944px 1117px #FFF , 384px 1779px #FFF , 1196px 1707px #FFF , 89px 829px #FFF , 1609px 359px #FFF , 276px 676px #FFF , 1978px 1421px #FFF , 1479px 293px #FFF , 1826px 895px #FFF , 667px 1676px #FFF , 290px 795px #FFF , 1861px 665px #FFF , 1489px 148px #FFF , 918px 287px #FFF , 1534px 1846px #FFF , 1179px 856px #FFF , 684px 639px #FFF , 912px 1794px #FFF , 622px 1477px #FFF , 973px 1672px #FFF , 1990px 1234px #FFF , 565px 1330px #FFF , 1007px 1532px #FFF , 693px 819px #FFF , 1290px 287px #FFF , 978px 795px #FFF , 1123px 507px #FFF , 1841px 1510px #FFF , 1130px 1195px #FFF , 909px 1058px #FFF , 1718px 1794px #FFF , 1392px 1560px #FFF , 1608px 3px #FFF , 723px 623px #FFF , 22px 14px #FFF , 1406px 859px #FFF , 1082px 695px #FFF , 461px 1026px #FFF , 1163px 409px #FFF , 1400px 1178px #FFF , 1897px 279px #FFF , 912px 644px #FFF , 708px 1484px #FFF , 947px 836px #FFF , 1908px 424px #FFF , 294px 1084px #FFF , 358px 37px #FFF , 662px 654px #FFF , 1454px 281px #FFF , 966px 1902px #FFF , 360px 1301px #FFF , 738px 1208px #FFF , 1729px 325px #FFF , 370px 308px #FFF , 141px 1199px #FFF , 1351px 1774px #FFF , 1109px 1592px #FFF , 618px 1195px #FFF , 67px 1979px #FFF , 582px 1134px #FFF , 1871px 495px #FFF , 206px 1224px #FFF , 411px 1470px #FFF , 721px 276px #FFF , 80px 471px #FFF , 476px 1951px #FFF , 809px 309px #FFF , 859px 1655px #FFF , 288px 1304px #FFF , 80px 883px #FFF , 1769px 1214px #FFF , 1822px 905px #FFF , 1197px 774px #FFF , 831px 50px #FFF , 1402px 1824px #FFF , 14px 497px #FFF , 369px 1423px #FFF , 942px 1993px #FFF , 1379px 699px #FFF , 1541px 1660px #FFF , 1511px 1615px #FFF , 855px 1371px #FFF , 1170px 530px #FFF , 978px 972px #FFF , 1093px 762px #FFF , 457px 783px #FFF , 1209px 862px #FFF , 1355px 1362px #FFF , 1812px 1726px #FFF , 1910px 21px #FFF , 174px 421px #FFF , 108px 1932px #FFF , 1052px 132px #FFF , 1280px 1293px #FFF , 1815px 1855px #FFF , 1516px 1577px #FFF , 722px 1842px #FFF , 1337px 1841px #FFF , 1941px 1186px #FFF , 517px 423px #FFF , 11px 1021px #FFF , 1312px 1055px #FFF , 611px 254px #FFF , 541px 1753px #FFF , 50px 469px #FFF , 1540px 522px #FFF , 43px 1242px #FFF , 148px 1011px #FFF , 1612px 132px #FFF , 283px 1314px #FFF , 1047px 626px #FFF , 1101px 899px #FFF , 1173px 1584px #FFF , 270px 181px #FFF , 1090px 421px #FFF , 1904px 1452px #FFF , 225px 101px #FFF , 612px 810px #FFF , 897px 632px #FFF , 1268px 1107px #FFF , 140px 1552px #FFF , 893px 1856px #FFF , 1646px 1528px #FFF , 991px 220px #FFF , 991px 1832px #FFF , 560px 122px #FFF , 58px 865px #FFF , 417px 1934px #FFF , 314px 244px #FFF , 846px 1021px #FFF , 768px 1462px #FFF , 1192px 1076px #FFF , 1738px 1020px #FFF , 188px 1504px #FFF , 799px 1349px #FFF , 1583px 917px #FFF , 621px 1260px #FFF , 476px 61px #FFF , 85px 1993px #FFF , 853px 1714px #FFF , 155px 476px #FFF , 943px 1371px #FFF , 1119px 1285px #FFF , 1435px 1743px #FFF , 1468px 1872px #FFF , 308px 1367px #FFF , 642px 1930px #FFF , 1926px 1606px #FFF , 1519px 1767px #FFF , 31px 1768px #FFF , 440px 1186px #FFF , 118px 1638px #FFF , 1602px 235px #FFF , 1394px 809px #FFF , 454px 1154px #FFF , 1501px 730px #FFF , 270px 1149px #FFF , 355px 184px #FFF , 1394px 1182px #FFF , 958px 985px #FFF , 1972px 56px #FFF , 957px 340px #FFF , 196px 1809px #FFF , 734px 55px #FFF , 80px 1123px #FFF , 1976px 577px #FFF , 1838px 1936px #FFF , 184px 464px #FFF , 1068px 1401px #FFF , 340px 930px #FFF , 1169px 935px #FFF , 1770px 145px #FFF , 818px 1092px #FFF , 811px 1355px #FFF , 1524px 490px #FFF , 1213px 1804px #FFF , 742px 1904px #FFF , 865px 731px #FFF , 926px 1507px #FFF , 1110px 1229px #FFF , 783px 797px #FFF , 1661px 1697px #FFF , 273px 1958px #FFF , 1730px 290px #FFF , 1589px 1454px #FFF , 1976px 1732px #FFF , 485px 862px #FFF , 925px 92px #FFF , 1679px 685px #FFF , 1939px 1435px #FFF , 1453px 923px #FFF , 1753px 1983px #FFF , 1789px 1366px #FFF , 946px 1624px #FFF , 1543px 227px #FFF , 631px 1671px #FFF , 611px 1540px #FFF , 1856px 367px #FFF , 650px 1px #FFF , 1948px 1730px #FFF , 1945px 558px #FFF , 1953px 962px #FFF , 1253px 816px #FFF , 117px 1179px #FFF , 1834px 1395px #FFF , 1001px 307px #FFF , 1543px 1702px #FFF , 1647px 1487px #FFF , 102px 1326px #FFF , 74px 465px #FFF , 1609px 1282px #FFF , 1415px 1833px #FFF , 349px 1193px #FFF , 1360px 209px #FFF , 1248px 842px #FFF , 1935px 1543px #FFF , 575px 459px #FFF , 1797px 884px #FFF , 362px 1380px #FFF , 86px 1696px #FFF , 1394px 1490px #FFF , 163px 31px #FFF , 957px 490px #FFF , 1165px 1375px #FFF , 1929px 978px #FFF , 1428px 1721px #FFF , 1495px 194px #FFF , 807px 1347px #FFF , 494px 1301px #FFF , 846px 392px #FFF , 1437px 393px #FFF , 657px 154px #FFF , 1907px 1705px #FFF , 667px 1486px #FFF , 165px 512px #FFF , 1220px 1018px #FFF , 1932px 883px #FFF , 1033px 1703px #FFF , 1251px 1880px #FFF , 923px 3px #FFF , 88px 475px #FFF , 962px 128px #FFF , 346px 261px #FFF , 1573px 684px #FFF , 201px 646px #FFF , 489px 1772px #FFF , 1398px 726px #FFF , 1091px 1755px #FFF , 473px 1661px #FFF , 1635px 1829px #FFF , 325px 1851px #FFF , 1405px 1059px #FFF , 1035px 1895px #FFF , 1108px 153px #FFF , 820px 1270px #FFF , 627px 1940px #FFF , 1614px 1010px #FFF , 1820px 910px #FFF , 158px 1050px #FFF , 1885px 593px #FFF , 1971px 119px #FFF , 870px 1722px #FFF , 1251px 1003px #FFF , 1226px 1229px #FFF , 1120px 704px #FFF , 882px 519px #FFF , 1090px 796px #FFF , 863px 432px #FFF , 877px 245px #FFF , 1971px 591px #FFF , 1076px 783px #FFF , 1194px 549px #FFF , 761px 858px #FFF , 298px 1436px #FFF , 206px 1937px #FFF , 1785px 1948px #FFF , 1333px 1593px #FFF , 1459px 330px #FFF , 1384px 415px #FFF , 170px 950px #FFF , 103px 1117px #FFF , 1938px 1760px #FFF , 805px 1038px #FFF , 1910px 1181px #FFF , 342px 1964px #FFF , 589px 453px #FFF , 1504px 1750px #FFF , 840px 929px #FFF , 1737px 1223px #FFF , 52px 1810px #FFF , 1143px 157px #FFF , 1993px 1118px #FFF , 1338px 245px #FFF , 1697px 757px #FFF , 2px 1848px #FFF , 1883px 354px #FFF , 1885px 344px #FFF , 1771px 1615px #FFF , 1120px 503px #FFF , 359px 92px #FFF , 1562px 1125px #FFF , 1837px 1813px #FFF , 569px 1343px #FFF , 1097px 570px #FFF , 905px 1927px #FFF , 1910px 252px #FFF , 1878px 1463px #FFF , 1504px 1061px #FFF , 822px 1723px #FFF , 1954px 823px #FFF , 1771px 32px #FFF , 1751px 413px #FFF , 791px 42px #FFF , 1471px 1896px #FFF , 1634px 1489px #FFF , 238px 361px #FFF , 1082px 1233px #FFF , 1451px 5px #FFF , 1182px 1794px #FFF , 19px 383px #FFF , 1081px 849px #FFF , 648px 893px #FFF , 54px 860px #FFF , 1823px 916px #FFF , 326px 1852px #FFF , 1740px 980px #FFF , 1007px 1294px #FFF , 1589px 471px #FFF , 1218px 111px #FFF , 1054px 1666px #FFF , 1525px 534px #FFF , 1898px 1598px #FFF , 1674px 1340px #FFF , 217px 387px #FFF , 932px 810px #FFF , 474px 1989px #FFF , 139px 1845px #FFF , 723px 1502px #FFF , 1619px 535px #FFF , 1416px 1444px #FFF , 862px 1146px #FFF , 1355px 340px #FFF , 1399px 1019px #FFF , 1670px 437px #FFF , 1424px 394px #FFF , 146px 1738px #FFF , 217px 1813px #FFF , 1633px 247px #FFF , 123px 625px #FFF , 1878px 387px #FFF , 263px 460px #FFF , 528px 475px #FFF , 41px 403px #FFF , 597px 1047px #FFF , 1117px 1672px #FFF , 1108px 917px #FFF , 22px 681px #FFF , 666px 1474px #FFF , 1103px 1783px #FFF , 1700px 1084px #FFF , 222px 1089px #FFF , 790px 1484px #FFF , 528px 64px #FFF , 1726px 1664px #FFF , 1216px 1625px #FFF , 1156px 15px #FFF , 341px 1393px #FFF , 1540px 257px #FFF , 1673px 602px #FFF , 95px 527px #FFF , 737px 553px #FFF , 554px 728px #FFF , 50px 1649px #FFF , 1509px 1749px #FFF , 1902px 1834px #FFF , 21px 630px #FFF , 1307px 1678px #FFF , 474px 574px #FFF , 1377px 972px #FFF , 1279px 1924px #FFF , 569px 1210px #FFF , 334px 91px #FFF , 1465px 1300px #FFF , 820px 1378px #FFF , 731px 1955px #FFF , 880px 807px #FFF , 371px 1091px #FFF , 286px 1685px #FFF , 918px 223px #FFF , 813px 27px #FFF , 35px 722px #FFF , 410px 1814px #FFF , 930px 156px #FFF , 1707px 1119px #FFF , 1395px 317px #FFF , 718px 1317px #FFF , 1937px 1054px #FFF , 919px 531px #FFF , 744px 247px #FFF , 737px 729px #FFF , 81px 1662px #FFF , 1105px 1035px #FFF , 717px 992px #FFF , 1996px 323px #FFF , 1410px 716px #FFF , 1534px 1164px #FFF , 90px 991px #FFF , 742px 541px #FFF , 80px 3px #FFF , 79px 1760px #FFF , 399px 1517px #FFF , 1807px 1336px #FFF , 1201px 1894px #FFF , 1785px 948px #FFF , 5px 394px #FFF , 1991px 276px #FFF , 579px 551px #FFF , 296px 617px #FFF , 1071px 1080px #FFF , 1231px 107px #FFF , 153px 379px #FFF , 154px 1984px #FFF , 485px 440px #FFF , 591px 501px #FFF , 688px 1036px #FFF , 1147px 602px #FFF , 1793px 1945px #FFF , 1933px 167px #FFF , 1500px 578px #FFF , 1162px 1194px #FFF , 1311px 1313px #FFF , 1380px 1304px #FFF , 1530px 773px #FFF , 973px 483px #FFF , 381px 1229px #FFF , 1748px 1353px #FFF , 1602px 1819px #FFF , 1111px 1902px #FFF , 706px 1359px #FFF , 28px 317px #FFF , 1742px 320px #FFF , 1336px 1326px #FFF , 1235px 1563px #FFF , 1582px 715px #FFF , 99px 1349px #FFF , 1969px 285px #FFF , 1229px 1619px #FFF , 1714px 188px #FFF , 522px 343px #FFF , 994px 901px #FFF , 798px 1061px #FFF , 1433px 1353px #FFF , 1671px 1372px #FFF , 1030px 1517px #FFF , 339px 275px #FFF , 986px 726px #FFF , 437px 807px #FFF , 1843px 1849px #FFF , 802px 1136px #FFF , 1870px 187px #FFF , 1145px 72px #FFF , 1025px 1196px #FFF , 1153px 571px #FFF , 411px 1712px #FFF , 953px 75px #FFF , 981px 32px #FFF , 1225px 144px #FFF , 1473px 1273px #FFF , 1570px 883px #FFF , 1971px 515px #FFF , 1939px 337px #FFF , 513px 1233px #FFF , 284px 1183px #FFF , 1320px 1730px #FFF , 1153px 1309px #FFF , 58px 636px #FFF , 1688px 1732px #FFF , 1622px 394px #FFF , 195px 1803px #FFF , 242px 1552px #FFF , 289px 1592px #FFF , 1236px 1938px #FFF , 668px 828px #FFF , 1824px 108px #FFF , 891px 1088px #FFF , 1714px 1773px #FFF , 1105px 1416px #FFF , 1636px 1717px #FFF , 913px 359px #FFF , 172px 1716px #FFF , 519px 211px #FFF , 271px 1024px #FFF , 391px 1030px #FFF , 923px 338px #FFF , 1101px 919px #FFF , 792px 334px #FFF , 1102px 1010px #FFF , 1483px 470px #FFF , 1839px 438px #FFF , 562px 738px #FFF , 846px 1544px #FFF , 1817px 793px #FFF , 567px 1216px #FFF , 1452px 1124px #FFF , 533px 763px #FFF , 1919px 895px #FFF , 506px 1462px #FFF , 1128px 985px #FFF , 1124px 822px #FFF , 504px 520px #FFF , 1322px 355px #FFF , 1457px 1471px #FFF , 177px 578px #FFF , 1992px 380px #FFF , 1721px 55px #FFF , 1561px 420px #FFF , 303px 259px #FFF , 849px 1198px #FFF , 1808px 864px #FFF , 542px 1982px #FFF , 1256px 1527px #FFF , 721px 1595px #FFF , 878px 740px #FFF , 1388px 287px #FFF , 1692px 1771px #FFF , 678px 926px #FFF , 829px 1832px #FFF , 1235px 996px #FFF , 793px 1179px #FFF , 392px 271px #FFF , 699px 1095px #FFF , 1030px 1817px #FFF , 104px 1658px #FFF , 1752px 166px #FFF , 1129px 1055px #FFF , 227px 326px #FFF , 247px 547px #FFF , 1970px 1813px #FFF , 158px 1313px #FFF , 495px 1190px #FFF , 1157px 1374px #FFF , 532px 64px #FFF , 1193px 331px #FFF , 899px 316px #FFF , 1393px 53px #FFF , 194px 127px #FFF , 388px 1963px #FFF , 1423px 1759px #FFF , 594px 463px #FFF , 754px 1894px #FFF , 1229px 950px #FFF , 1500px 246px #FFF , 608px 435px #FFF , 1855px 1207px #FFF , 113px 207px #FFF , 359px 369px #FFF , 1908px 919px #FFF , 1042px 1292px #FFF , 302px 1338px #FFF , 478px 1517px #FFF , 667px 544px #FFF , 1767px 1966px #FFF , 1390px 863px #FFF , 1372px 1238px #FFF , 401px 1338px #FFF , 357px 634px #FFF , 344px 1987px #FFF , 1622px 1056px #FFF , 673px 622px #FFF , 804px 174px #FFF , 566px 155px #FFF , 1875px 422px #FFF , 1386px 1026px #FFF , 1574px 1171px #FFF , 301px 1693px #FFF , 1204px 1154px #FFF , 358px 1501px #FFF , 1350px 1512px #FFF , 1314px 1840px #FFF , 1474px 823px #FFF , 167px 893px #FFF , 899px 363px #FFF , 1292px 220px #FFF , 1848px 1230px #FFF , 1295px 1940px #FFF , 1553px 431px #FFF , 1636px 610px #FFF , 1124px 1999px #FFF , 658px 1857px #FFF , 80px 1848px #FFF , 973px 1649px #FFF , 1940px 837px #FFF , 1180px 794px #FFF , 1635px 1515px #FFF , 693px 999px #FFF , 1224px 1195px #FFF , 1609px 127px #FFF , 605px 1915px #FFF , 1026px 1799px #FFF , 165px 1328px #FFF , 608px 1497px #FFF , 443px 1418px #FFF , 1592px 1212px #FFF , 254px 1638px #FFF , 226px 168px #FFF , 1922px 412px #FFF , 1616px 1272px #FFF , 195px 292px #FFF , 1903px 912px #FFF , 1149px 742px #FFF , 1323px 1714px #FFF , 568px 711px #FFF , 404px 738px #FFF , 1027px 1744px #FFF , 1846px 796px #FFF , 361px 1763px #FFF , 1813px 568px #FFF , 1301px 1188px #FFF , 1867px 1100px #FFF , 891px 978px #FFF , 300px 833px #FFF , 1121px 311px #FFF , 1287px 522px #FFF , 1970px 63px #FFF , 555px 38px #FFF , 951px 519px #FFF , 114px 1884px #FFF , 1660px 1826px #FFF , 340px 1670px #FFF , 1898px 1209px #FFF , 1216px 1220px #FFF , 1554px 205px #FFF , 1291px 1523px #FFF , 1643px 1789px #FFF , 1175px 561px #FFF , 767px 1640px #FFF , 1794px 749px #FFF , 727px 834px #FFF , 1686px 475px #FFF , 1693px 920px #FFF , 1942px 1974px #FFF , 829px 878px #FFF , 1305px 1542px #FFF , 592px 1453px #FFF , 1890px 700px #FFF , 1051px 599px #FFF , 1714px 790px #FFF , 416px 1128px #FFF , 1546px 501px #FFF , 1883px 594px #FFF , 1720px 1768px #FFF , 22px 954px #FFF , 812px 448px #FFF , 1401px 519px #FFF , 87px 205px #FFF , 1274px 1500px #FFF , 1111px 499px #FFF , 1160px 1225px #FFF , 1450px 1382px #FFF , 1271px 1899px #FFF , 1444px 1352px #FFF , 280px 1106px #FFF , 1472px 1619px #FFF , 1163px 1249px #FFF , 476px 822px #FFF , 548px 1901px #FFF , 992px 855px #FFF , 559px 1351px #FFF , 564px 1006px #FFF , 168px 1280px #FFF , 643px 568px #FFF , 1237px 928px #FFF , 355px 84px #FFF , 1615px 1954px #FFF , 1053px 1023px #FFF , 1086px 224px #FFF , 1346px 548px #FFF , 261px 1328px #FFF , 1747px 1553px #FFF , 406px 1153px #FFF , 3px 1176px #FFF , 950px 492px #FFF , 375px 914px #FFF , 688px 1624px #FFF , 1860px 1833px #FFF , 1760px 1655px #FFF , 1358px 1199px #FFF , 1488px 711px #FFF , 728px 1232px #FFF , 1076px 1023px #FFF , 154px 222px #FFF , 1042px 1340px #FFF , 171px 922px #FFF , 1199px 723px #FFF , 911px 916px #FFF , 110px 413px #FFF , 280px 172px #FFF , 936px 1071px #FFF;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 498px 863px #FFF , 1142px 785px #FFF , 1329px 205px #FFF , 739px 1498px #FFF , 1458px 608px #FFF , 680px 677px #FFF , 43px 923px #FFF , 476px 201px #FFF , 359px 1631px #FFF , 1074px 415px #FFF , 499px 1811px #FFF , 1951px 111px #FFF , 882px 252px #FFF , 1766px 112px #FFF , 1717px 879px #FFF , 239px 72px #FFF , 761px 1882px #FFF , 868px 542px #FFF , 1816px 946px #FFF , 401px 1735px #FFF , 186px 361px #FFF , 906px 1365px #FFF , 1892px 352px #FFF , 1419px 1587px #FFF , 670px 1161px #FFF , 446px 770px #FFF , 21px 758px #FFF , 776px 1152px #FFF , 1837px 1120px #FFF , 1795px 895px #FFF , 682px 1494px #FFF , 164px 609px #FFF , 1109px 492px #FFF , 566px 293px #FFF , 788px 1845px #FFF , 119px 1986px #FFF , 1277px 567px #FFF , 1880px 1539px #FFF , 442px 306px #FFF , 825px 1061px #FFF , 1557px 433px #FFF , 787px 564px #FFF , 1945px 835px #FFF , 126px 1200px #FFF , 844px 274px #FFF , 93px 1079px #FFF , 1692px 186px #FFF , 1435px 441px #FFF , 153px 807px #FFF , 753px 772px #FFF , 80px 519px #FFF , 136px 262px #FFF , 535px 152px #FFF , 726px 968px #FFF , 20px 742px #FFF , 242px 347px #FFF , 266px 643px #FFF , 735px 252px #FFF , 681px 982px #FFF , 1209px 1551px #FFF , 1835px 630px #FFF , 1855px 910px #FFF , 1099px 1999px #FFF , 582px 359px #FFF , 412px 169px #FFF , 625px 1775px #FFF , 1007px 62px #FFF , 1443px 707px #FFF , 1856px 274px #FFF , 761px 162px #FFF , 1319px 956px #FFF , 155px 1604px #FFF , 1229px 234px #FFF , 1609px 1275px #FFF , 923px 1658px #FFF , 203px 870px #FFF , 1554px 1518px #FFF , 682px 745px #FFF , 1461px 1940px #FFF , 133px 1458px #FFF , 1595px 193px #FFF , 254px 481px #FFF , 1884px 1319px #FFF , 1243px 1319px #FFF , 1925px 892px #FFF , 248px 1784px #FFF , 1245px 1407px #FFF , 572px 249px #FFF , 890px 209px #FFF , 522px 845px #FFF , 267px 1433px #FFF , 849px 562px #FFF , 1308px 979px #FFF , 192px 1528px #FFF , 1365px 1732px #FFF , 907px 79px #FFF , 850px 907px #FFF , 1415px 1719px #FFF , 708px 650px #FFF , 1350px 817px #FFF , 111px 898px #FFF , 1906px 1639px #FFF , 1112px 1793px #FFF , 1884px 847px #FFF , 212px 451px #FFF , 491px 38px #FFF , 1967px 1389px #FFF , 445px 1714px #FFF , 819px 1661px #FFF , 363px 1042px #FFF , 1287px 1124px #FFF , 295px 1842px #FFF , 1751px 1252px #FFF , 1030px 1266px #FFF , 592px 596px #FFF , 344px 792px #FFF , 1489px 998px #FFF , 564px 214px #FFF , 1438px 1878px #FFF , 1280px 1076px #FFF , 875px 55px #FFF , 293px 1243px #FFF , 1762px 1836px #FFF , 1340px 1498px #FFF , 1380px 1039px #FFF , 1799px 1595px #FFF , 1214px 1800px #FFF , 90px 1621px #FFF , 972px 173px #FFF , 427px 1017px #FFF , 495px 380px #FFF , 1144px 1615px #FFF , 43px 307px #FFF , 1645px 1394px #FFF , 1039px 1887px #FFF , 1980px 844px #FFF , 560px 1331px #FFF , 540px 135px #FFF , 344px 1170px #FFF , 1035px 710px #FFF , 1279px 1604px #FFF , 1284px 1461px #FFF , 1527px 4px #FFF , 171px 989px #FFF , 1709px 1584px #FFF , 1220px 32px #FFF , 201px 147px #FFF , 992px 311px #FFF , 358px 1608px #FFF , 455px 876px #FFF , 1619px 1922px #FFF , 1962px 171px #FFF , 1216px 1378px #FFF , 1122px 946px #FFF , 1055px 500px #FFF , 1848px 488px #FFF , 840px 770px #FFF , 1781px 1551px #FFF , 731px 1364px #FFF , 33px 1521px #FFF , 383px 230px #FFF , 502px 316px #FFF , 953px 1327px #FFF , 1449px 341px #FFF , 247px 199px #FFF , 802px 348px #FFF , 4px 436px #FFF , 634px 1015px #FFF , 1667px 91px #FFF , 1862px 668px #FFF , 508px 1292px #FFF , 815px 203px #FFF , 592px 1779px #FFF , 367px 1158px #FFF , 1602px 1572px #FFF , 1015px 1015px #FFF , 699px 1389px #FFF , 190px 1182px #FFF , 1619px 1866px #FFF , 1341px 492px #FFF , 647px 191px #FFF , 1184px 486px #FFF , 1517px 533px #FFF , 372px 1397px #FFF , 795px 130px #FFF , 630px 1352px #FFF , 927px 912px #FFF , 1893px 296px #FFF , 1808px 801px #FFF , 1923px 1381px #FFF , 316px 1077px #FFF , 1452px 20px #FFF , 472px 381px #FFF , 1683px 1127px #FFF , 1764px 1710px #FFF , 279px 1000px #FFF , 657px 196px #FFF , 1893px 55px #FFF , 770px 464px #FFF , 1002px 1109px #FFF;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: "";
  position: absolute;
  top: 2000px;
  background: transparent;
  width: 2px;
  height: 2px;
  box-shadow: 498px 863px #FFF , 1142px 785px #FFF , 1329px 205px #FFF , 739px 1498px #FFF , 1458px 608px #FFF , 680px 677px #FFF , 43px 923px #FFF , 476px 201px #FFF , 359px 1631px #FFF , 1074px 415px #FFF , 499px 1811px #FFF , 1951px 111px #FFF , 882px 252px #FFF , 1766px 112px #FFF , 1717px 879px #FFF , 239px 72px #FFF , 761px 1882px #FFF , 868px 542px #FFF , 1816px 946px #FFF , 401px 1735px #FFF , 186px 361px #FFF , 906px 1365px #FFF , 1892px 352px #FFF , 1419px 1587px #FFF , 670px 1161px #FFF , 446px 770px #FFF , 21px 758px #FFF , 776px 1152px #FFF , 1837px 1120px #FFF , 1795px 895px #FFF , 682px 1494px #FFF , 164px 609px #FFF , 1109px 492px #FFF , 566px 293px #FFF , 788px 1845px #FFF , 119px 1986px #FFF , 1277px 567px #FFF , 1880px 1539px #FFF , 442px 306px #FFF , 825px 1061px #FFF , 1557px 433px #FFF , 787px 564px #FFF , 1945px 835px #FFF , 126px 1200px #FFF , 844px 274px #FFF , 93px 1079px #FFF , 1692px 186px #FFF , 1435px 441px #FFF , 153px 807px #FFF , 753px 772px #FFF , 80px 519px #FFF , 136px 262px #FFF , 535px 152px #FFF , 726px 968px #FFF , 20px 742px #FFF , 242px 347px #FFF , 266px 643px #FFF , 735px 252px #FFF , 681px 982px #FFF , 1209px 1551px #FFF , 1835px 630px #FFF , 1855px 910px #FFF , 1099px 1999px #FFF , 582px 359px #FFF , 412px 169px #FFF , 625px 1775px #FFF , 1007px 62px #FFF , 1443px 707px #FFF , 1856px 274px #FFF , 761px 162px #FFF , 1319px 956px #FFF , 155px 1604px #FFF , 1229px 234px #FFF , 1609px 1275px #FFF , 923px 1658px #FFF , 203px 870px #FFF , 1554px 1518px #FFF , 682px 745px #FFF , 1461px 1940px #FFF , 133px 1458px #FFF , 1595px 193px #FFF , 254px 481px #FFF , 1884px 1319px #FFF , 1243px 1319px #FFF , 1925px 892px #FFF , 248px 1784px #FFF , 1245px 1407px #FFF , 572px 249px #FFF , 890px 209px #FFF , 522px 845px #FFF , 267px 1433px #FFF , 849px 562px #FFF , 1308px 979px #FFF , 192px 1528px #FFF , 1365px 1732px #FFF , 907px 79px #FFF , 850px 907px #FFF , 1415px 1719px #FFF , 708px 650px #FFF , 1350px 817px #FFF , 111px 898px #FFF , 1906px 1639px #FFF , 1112px 1793px #FFF , 1884px 847px #FFF , 212px 451px #FFF , 491px 38px #FFF , 1967px 1389px #FFF , 445px 1714px #FFF , 819px 1661px #FFF , 363px 1042px #FFF , 1287px 1124px #FFF , 295px 1842px #FFF , 1751px 1252px #FFF , 1030px 1266px #FFF , 592px 596px #FFF , 344px 792px #FFF , 1489px 998px #FFF , 564px 214px #FFF , 1438px 1878px #FFF , 1280px 1076px #FFF , 875px 55px #FFF , 293px 1243px #FFF , 1762px 1836px #FFF , 1340px 1498px #FFF , 1380px 1039px #FFF , 1799px 1595px #FFF , 1214px 1800px #FFF , 90px 1621px #FFF , 972px 173px #FFF , 427px 1017px #FFF , 495px 380px #FFF , 1144px 1615px #FFF , 43px 307px #FFF , 1645px 1394px #FFF , 1039px 1887px #FFF , 1980px 844px #FFF , 560px 1331px #FFF , 540px 135px #FFF , 344px 1170px #FFF , 1035px 710px #FFF , 1279px 1604px #FFF , 1284px 1461px #FFF , 1527px 4px #FFF , 171px 989px #FFF , 1709px 1584px #FFF , 1220px 32px #FFF , 201px 147px #FFF , 992px 311px #FFF , 358px 1608px #FFF , 455px 876px #FFF , 1619px 1922px #FFF , 1962px 171px #FFF , 1216px 1378px #FFF , 1122px 946px #FFF , 1055px 500px #FFF , 1848px 488px #FFF , 840px 770px #FFF , 1781px 1551px #FFF , 731px 1364px #FFF , 33px 1521px #FFF , 383px 230px #FFF , 502px 316px #FFF , 953px 1327px #FFF , 1449px 341px #FFF , 247px 199px #FFF , 802px 348px #FFF , 4px 436px #FFF , 634px 1015px #FFF , 1667px 91px #FFF , 1862px 668px #FFF , 508px 1292px #FFF , 815px 203px #FFF , 592px 1779px #FFF , 367px 1158px #FFF , 1602px 1572px #FFF , 1015px 1015px #FFF , 699px 1389px #FFF , 190px 1182px #FFF , 1619px 1866px #FFF , 1341px 492px #FFF , 647px 191px #FFF , 1184px 486px #FFF , 1517px 533px #FFF , 372px 1397px #FFF , 795px 130px #FFF , 630px 1352px #FFF , 927px 912px #FFF , 1893px 296px #FFF , 1808px 801px #FFF , 1923px 1381px #FFF , 316px 1077px #FFF , 1452px 20px #FFF , 472px 381px #FFF , 1683px 1127px #FFF , 1764px 1710px #FFF , 279px 1000px #FFF , 657px 196px #FFF , 1893px 55px #FFF , 770px 464px #FFF , 1002px 1109px #FFF;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 498px 863px #FFF , 1142px 785px #FFF , 1329px 205px #FFF , 739px 1498px #FFF , 1458px 608px #FFF , 680px 677px #FFF , 43px 923px #FFF , 476px 201px #FFF , 359px 1631px #FFF , 1074px 415px #FFF , 499px 1811px #FFF , 1951px 111px #FFF , 882px 252px #FFF , 1766px 112px #FFF , 1717px 879px #FFF , 239px 72px #FFF , 761px 1882px #FFF , 868px 542px #FFF , 1816px 946px #FFF , 401px 1735px #FFF , 186px 361px #FFF , 906px 1365px #FFF , 1892px 352px #FFF , 1419px 1587px #FFF , 670px 1161px #FFF , 446px 770px #FFF , 21px 758px #FFF , 776px 1152px #FFF , 1837px 1120px #FFF , 1795px 895px #FFF , 682px 1494px #FFF , 164px 609px #FFF , 1109px 492px #FFF , 566px 293px #FFF , 788px 1845px #FFF , 119px 1986px #FFF , 1277px 567px #FFF , 1880px 1539px #FFF , 442px 306px #FFF , 825px 1061px #FFF , 1557px 433px #FFF , 787px 564px #FFF , 1945px 835px #FFF , 126px 1200px #FFF , 844px 274px #FFF , 93px 1079px #FFF , 1692px 186px #FFF , 1435px 441px #FFF , 153px 807px #FFF , 753px 772px #FFF , 80px 519px #FFF , 136px 262px #FFF , 535px 152px #FFF , 726px 968px #FFF , 20px 742px #FFF , 242px 347px #FFF , 266px 643px #FFF , 735px 252px #FFF , 681px 982px #FFF , 1209px 1551px #FFF , 1835px 630px #FFF , 1855px 910px #FFF , 1099px 1999px #FFF , 582px 359px #FFF , 412px 169px #FFF , 625px 1775px #FFF , 1007px 62px #FFF , 1443px 707px #FFF , 1856px 274px #FFF , 761px 162px #FFF , 1319px 956px #FFF , 155px 1604px #FFF , 1229px 234px #FFF , 1609px 1275px #FFF , 923px 1658px #FFF , 203px 870px #FFF , 1554px 1518px #FFF , 682px 745px #FFF , 1461px 1940px #FFF , 133px 1458px #FFF , 1595px 193px #FFF , 254px 481px #FFF , 1884px 1319px #FFF , 1243px 1319px #FFF , 1925px 892px #FFF , 248px 1784px #FFF , 1245px 1407px #FFF , 572px 249px #FFF , 890px 209px #FFF , 522px 845px #FFF , 267px 1433px #FFF , 849px 562px #FFF , 1308px 979px #FFF , 192px 1528px #FFF , 1365px 1732px #FFF , 907px 79px #FFF , 850px 907px #FFF , 1415px 1719px #FFF , 708px 650px #FFF , 1350px 817px #FFF , 111px 898px #FFF , 1906px 1639px #FFF , 1112px 1793px #FFF , 1884px 847px #FFF , 212px 451px #FFF , 491px 38px #FFF , 1967px 1389px #FFF , 445px 1714px #FFF , 819px 1661px #FFF , 363px 1042px #FFF , 1287px 1124px #FFF , 295px 1842px #FFF , 1751px 1252px #FFF , 1030px 1266px #FFF , 592px 596px #FFF , 344px 792px #FFF , 1489px 998px #FFF , 564px 214px #FFF , 1438px 1878px #FFF , 1280px 1076px #FFF , 875px 55px #FFF , 293px 1243px #FFF , 1762px 1836px #FFF , 1340px 1498px #FFF , 1380px 1039px #FFF , 1799px 1595px #FFF , 1214px 1800px #FFF , 90px 1621px #FFF , 972px 173px #FFF , 427px 1017px #FFF , 495px 380px #FFF , 1144px 1615px #FFF , 43px 307px #FFF , 1645px 1394px #FFF , 1039px 1887px #FFF , 1980px 844px #FFF , 560px 1331px #FFF , 540px 135px #FFF , 344px 1170px #FFF , 1035px 710px #FFF , 1279px 1604px #FFF , 1284px 1461px #FFF , 1527px 4px #FFF , 171px 989px #FFF , 1709px 1584px #FFF , 1220px 32px #FFF , 201px 147px #FFF , 992px 311px #FFF , 358px 1608px #FFF , 455px 876px #FFF , 1619px 1922px #FFF , 1962px 171px #FFF , 1216px 1378px #FFF , 1122px 946px #FFF , 1055px 500px #FFF , 1848px 488px #FFF , 840px 770px #FFF , 1781px 1551px #FFF , 731px 1364px #FFF , 33px 1521px #FFF , 383px 230px #FFF , 502px 316px #FFF , 953px 1327px #FFF , 1449px 341px #FFF , 247px 199px #FFF , 802px 348px #FFF , 4px 436px #FFF , 634px 1015px #FFF , 1667px 91px #FFF , 1862px 668px #FFF , 508px 1292px #FFF , 815px 203px #FFF , 592px 1779px #FFF , 367px 1158px #FFF , 1602px 1572px #FFF , 1015px 1015px #FFF , 699px 1389px #FFF , 190px 1182px #FFF , 1619px 1866px #FFF , 1341px 492px #FFF , 647px 191px #FFF , 1184px 486px #FFF , 1517px 533px #FFF , 372px 1397px #FFF , 795px 130px #FFF , 630px 1352px #FFF , 927px 912px #FFF , 1893px 296px #FFF , 1808px 801px #FFF , 1923px 1381px #FFF , 316px 1077px #FFF , 1452px 20px #FFF , 472px 381px #FFF , 1683px 1127px #FFF , 1764px 1710px #FFF , 279px 1000px #FFF , 657px 196px #FFF , 1893px 55px #FFF , 770px 464px #FFF , 1002px 1109px #FFF;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: "";
  position: absolute;
  top: 2000px;
  background: transparent;
  width: 3px;
  height: 3px;
  box-shadow: 498px 863px #FFF , 1142px 785px #FFF , 1329px 205px #FFF , 739px 1498px #FFF , 1458px 608px #FFF , 680px 677px #FFF , 43px 923px #FFF , 476px 201px #FFF , 359px 1631px #FFF , 1074px 415px #FFF , 499px 1811px #FFF , 1951px 111px #FFF , 882px 252px #FFF , 1766px 112px #FFF , 1717px 879px #FFF , 239px 72px #FFF , 761px 1882px #FFF , 868px 542px #FFF , 1816px 946px #FFF , 401px 1735px #FFF , 186px 361px #FFF , 906px 1365px #FFF , 1892px 352px #FFF , 1419px 1587px #FFF , 670px 1161px #FFF , 446px 770px #FFF , 21px 758px #FFF , 776px 1152px #FFF , 1837px 1120px #FFF , 1795px 895px #FFF , 682px 1494px #FFF , 164px 609px #FFF , 1109px 492px #FFF , 566px 293px #FFF , 788px 1845px #FFF , 119px 1986px #FFF , 1277px 567px #FFF , 1880px 1539px #FFF , 442px 306px #FFF , 825px 1061px #FFF , 1557px 433px #FFF , 787px 564px #FFF , 1945px 835px #FFF , 126px 1200px #FFF , 844px 274px #FFF , 93px 1079px #FFF , 1692px 186px #FFF , 1435px 441px #FFF , 153px 807px #FFF , 753px 772px #FFF , 80px 519px #FFF , 136px 262px #FFF , 535px 152px #FFF , 726px 968px #FFF , 20px 742px #FFF , 242px 347px #FFF , 266px 643px #FFF , 735px 252px #FFF , 681px 982px #FFF , 1209px 1551px #FFF , 1835px 630px #FFF , 1855px 910px #FFF , 1099px 1999px #FFF , 582px 359px #FFF , 412px 169px #FFF , 625px 1775px #FFF , 1007px 62px #FFF , 1443px 707px #FFF , 1856px 274px #FFF , 761px 162px #FFF , 1319px 956px #FFF , 155px 1604px #FFF , 1229px 234px #FFF , 1609px 1275px #FFF , 923px 1658px #FFF , 203px 870px #FFF , 1554px 1518px #FFF , 682px 745px #FFF , 1461px 1940px #FFF , 133px 1458px #FFF , 1595px 193px #FFF , 254px 481px #FFF , 1884px 1319px #FFF , 1243px 1319px #FFF , 1925px 892px #FFF , 248px 1784px #FFF , 1245px 1407px #FFF , 572px 249px #FFF , 890px 209px #FFF , 522px 845px #FFF , 267px 1433px #FFF , 849px 562px #FFF , 1308px 979px #FFF , 192px 1528px #FFF , 1365px 1732px #FFF , 907px 79px #FFF , 850px 907px #FFF , 1415px 1719px #FFF , 708px 650px #FFF , 1350px 817px #FFF , 111px 898px #FFF , 1906px 1639px #FFF , 1112px 1793px #FFF , 1884px 847px #FFF , 212px 451px #FFF , 491px 38px #FFF , 1967px 1389px #FFF , 445px 1714px #FFF , 819px 1661px #FFF , 363px 1042px #FFF , 1287px 1124px #FFF , 295px 1842px #FFF , 1751px 1252px #FFF , 1030px 1266px #FFF , 592px 596px #FFF , 344px 792px #FFF , 1489px 998px #FFF , 564px 214px #FFF , 1438px 1878px #FFF , 1280px 1076px #FFF , 875px 55px #FFF , 293px 1243px #FFF , 1762px 1836px #FFF , 1340px 1498px #FFF , 1380px 1039px #FFF , 1799px 1595px #FFF , 1214px 1800px #FFF , 90px 1621px #FFF , 972px 173px #FFF , 427px 1017px #FFF , 495px 380px #FFF , 1144px 1615px #FFF , 43px 307px #FFF , 1645px 1394px #FFF , 1039px 1887px #FFF , 1980px 844px #FFF , 560px 1331px #FFF , 540px 135px #FFF , 344px 1170px #FFF , 1035px 710px #FFF , 1279px 1604px #FFF , 1284px 1461px #FFF , 1527px 4px #FFF , 171px 989px #FFF , 1709px 1584px #FFF , 1220px 32px #FFF , 201px 147px #FFF , 992px 311px #FFF , 358px 1608px #FFF , 455px 876px #FFF , 1619px 1922px #FFF , 1962px 171px #FFF , 1216px 1378px #FFF , 1122px 946px #FFF , 1055px 500px #FFF , 1848px 488px #FFF , 840px 770px #FFF , 1781px 1551px #FFF , 731px 1364px #FFF , 33px 1521px #FFF , 383px 230px #FFF , 502px 316px #FFF , 953px 1327px #FFF , 1449px 341px #FFF , 247px 199px #FFF , 802px 348px #FFF , 4px 436px #FFF , 634px 1015px #FFF , 1667px 91px #FFF , 1862px 668px #FFF , 508px 1292px #FFF , 815px 203px #FFF , 592px 1779px #FFF , 367px 1158px #FFF , 1602px 1572px #FFF , 1015px 1015px #FFF , 699px 1389px #FFF , 190px 1182px #FFF , 1619px 1866px #FFF , 1341px 492px #FFF , 647px 191px #FFF , 1184px 486px #FFF , 1517px 533px #FFF , 372px 1397px #FFF , 795px 130px #FFF , 630px 1352px #FFF , 927px 912px #FFF , 1893px 296px #FFF , 1808px 801px #FFF , 1923px 1381px #FFF , 316px 1077px #FFF , 1452px 20px #FFF , 472px 381px #FFF , 1683px 1127px #FFF , 1764px 1710px #FFF , 279px 1000px #FFF , 657px 196px #FFF , 1893px 55px #FFF , 770px 464px #FFF , 1002px 1109px #FFF;
}

.btn {
  color: #000;
  padding: 0.2rem;
  border-radius: 10px;
  font-weight: bold;
  font-size: large;
  cursor: pointer;
  border: none;
  border-bottom: 2px solid;
  border-right: 2px solid;
  border-color: #000;
  transition: all ease 0.5s;
}
.btn:hover {
  box-shadow: 2px 4px 2px #c0c0c0;
  border: 1px solid #fff;
  background: none;
}

.btn-login {
  background: #6495ed;
  box-shadow: 2px 4px 2px #6495ed;
}
.btn-login:hover {
  color: #6495ed;
}

.btn-register {
  background: #9370db;
  box-shadow: 2px 4px 2px #9370db;
}
.btn-register:hover {
  color: #9370db;
}

.btn-valid {
  background: #ffff00;
  box-shadow: 2px 4px 2px #ffff00;
}
.btn-valid:hover {
  color: #ffff00;
}

.btn-reset {
  background: #4c679c;
  font-weight: normal;
}
.btn-reset:hover {
  color: #dc143c;
}

.btn-up, .btn-down {
  width: 3rem;
}

.btn-cancel {
  background: #f08080;
  box-shadow: 2px 4px 2px #f08080;
}
.btn-cancel:hover {
  color: #f08080;
}

#home-page {
  position: absolute;
  top: 40%;
  width: 99%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#home-page header {
  width: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#home-page header .title-contatnt {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
#home-page header .title-contatnt h1 {
  font-family: "title";
  letter-spacing: 0.1rem;
  position: relative;
  -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, 0.6) 30%, #000 50%, rgba(0, 0, 0, 0.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 5s infinite;
}
#home-page header .title-contatnt .underline {
  width: 100%;
  height: 0.2rem;
  border-radius: 10px;
  margin-top: 1%;
  position: relative;
}
#home-page header .title-contatnt .underline::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-image: linear-gradient(var(--rotate), #6495ed 43%, #9370db);
  animation: spin 2.5s linear infinite;
}
#home-page header div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
}
#home-page .form-home {
  position: absolute;
  transform: none;
  opacity: 1;
  border: 1px solid #fff;
  height: 150%;
  border-radius: 10px;
  color: #fff;
  transition: all ease 0.5s;
  box-shadow: 2px 4px 2px #fff;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}
#home-page .form-home legend {
  box-shadow: 2px 4px 2px #fff;
  border: 1px solid #fff;
  border-radius: 50px;
  padding: 0.5rem;
  text-align: center;
}
#home-page .form-home .close-btn {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  position: absolute;
  right: 5%;
}
#home-page .form-home .close-btn:hover span {
  background: #ffff00;
}
#home-page .form-home .close-btn span {
  transition: all ease 0.5s;
  background: #fff;
  position: absolute;
  border-radius: 10px;
  top: 45%;
  width: 100%;
  height: 5px;
}
#home-page .form-home .close-btn span:nth-child(1) {
  transform: rotate(45deg);
}
#home-page .form-home .close-btn span:nth-child(2) {
  transform: rotate(-45deg);
}
#home-page .form-home form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#home-page .form-home form span {
  width: 50%;
  display: flex;
  justify-content: space-around;
}
#home-page .form-home form span input[type=text] {
  border-bottom: 1px solid #fff;
  padding-left: 4px;
  color: #fff;
}

#player-information {
  margin-top: 2%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  width: 99%;
}
#player-information h1 .bonjour {
  margin-right: 0.5rem;
  font-family: "welcom";
  font-size: xx-large;
}
#player-information h1 .pseudo {
  -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, 0.6) 30%, #000 50%, rgba(0, 0, 0, 0.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 5s infinite;
  font-size: xx-large;
  font-family: "pseudo";
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
#player-information .role-containt {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}
#player-information .role-containt .role {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 15rem;
}
#player-information .role-containt .role .role-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid;
  padding: 1rem;
  border-radius: 50px;
}
#player-information .role-containt .role .role-icon i {
  font-size: x-large;
}
#player-information .role-containt .role .role-icon#tank {
  border-left-color: #146FDC;
  border-top-color: #146FDC;
  border-right-color: #14a2dc;
  border-bottom-color: #14a2dc;
}
#player-information .role-containt .role .role-icon#tank i {
  color: #146FDC;
}
#player-information .role-containt .role .role-icon#dps {
  border-left-color: #DC14A2;
  border-top-color: #DC14A2;
  border-right-color: #dc143c;
  border-bottom-color: #dc143c;
}
#player-information .role-containt .role .role-icon#dps i {
  color: #DC14A2;
}
#player-information .role-containt .role .role-icon#heal {
  border-left-color: #AFDC14;
  border-top-color: #AFDC14;
  border-right-color: #DCBB14;
  border-bottom-color: #DCBB14;
}
#player-information .role-containt .role .role-icon#heal i {
  color: #AFDC14;
}
#player-information .role-containt .role form fieldset {
  background: #000;
  border-radius: 10px;
  width: 15rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
#player-information .role-containt .role form fieldset::before {
  content: "";
  position: absolute;
  width: 15.4rem;
  height: 10.4rem;
  z-index: -1;
  border-radius: 10px;
}
#player-information .role-containt .role form fieldset.tank-containt {
  color: #146FDC;
}
#player-information .role-containt .role form fieldset.tank-containt::before {
  background-image: linear-gradient(var(--rotate), #146FDC 43%, #14a2dc);
  animation: spin 2.5s linear infinite;
}
#player-information .role-containt .role form fieldset.tank-containt .btn-down {
  background: #146FDC;
  box-shadow: 2px 4px 2px #146FDC;
}
#player-information .role-containt .role form fieldset.tank-containt .btn-down:hover {
  color: #146FDC;
  background: none;
  border: none;
}
#player-information .role-containt .role form fieldset.tank-containt .btn-up {
  background: #14a2dc;
  box-shadow: 2px 4px 2px #14a2dc;
}
#player-information .role-containt .role form fieldset.tank-containt .btn-up:hover {
  color: #14a2dc;
  background: none;
  border: none;
}
#player-information .role-containt .role form fieldset.dps-containt {
  color: #DC14A2;
}
#player-information .role-containt .role form fieldset.dps-containt::before {
  background-image: linear-gradient(var(--rotate), #DC14A2 43%, #dc143c);
  animation: spin 2.5s linear infinite;
}
#player-information .role-containt .role form fieldset.dps-containt .btn-down {
  background: #DC14A2;
  box-shadow: 2px 4px 2px #DC14A2;
}
#player-information .role-containt .role form fieldset.dps-containt .btn-down:hover {
  background: none;
  color: #DC14A2;
  border: none;
}
#player-information .role-containt .role form fieldset.dps-containt .btn-up {
  background: #dc143c;
  box-shadow: 2px 4px 2px #dc143c;
}
#player-information .role-containt .role form fieldset.dps-containt .btn-up:hover {
  background: none;
  color: #dc143c;
  border: none;
}
#player-information .role-containt .role form fieldset.heal-containt {
  color: #DCBB14;
}
#player-information .role-containt .role form fieldset.heal-containt::before {
  background-image: linear-gradient(var(--rotate), #AFDC14 43%, #DCBB14);
  animation: spin 2.5s linear infinite;
}
#player-information .role-containt .role form fieldset.heal-containt .btn-down {
  background: #DCBB14;
  box-shadow: 2px 4px 2px #DCBB14;
}
#player-information .role-containt .role form fieldset.heal-containt .btn-down:hover {
  color: #DCBB14;
  border: none;
  background: none;
}
#player-information .role-containt .role form fieldset.heal-containt .btn-up {
  background: #AFDC14;
  box-shadow: 2px 4px 2px #AFDC14;
}
#player-information .role-containt .role form fieldset.heal-containt .btn-up:hover {
  color: #AFDC14;
  border: none;
  background: none;
}
#player-information .role-containt .role form fieldset span {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
#player-information .role-containt .role form fieldset span h3 {
  font-weight: bold;
}

#confirm-popup {
  position: absolute;
  background: #000;
  border: 1px solid;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 5rem;
  border-radius: 10px;
  transition: opacity ease 0.5s;
}
#confirm-popup div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}
#confirm-popup div button, #confirm-popup div span {
  width: 4rem;
  text-align: center;
}

#confirm-popup.close, #login.close, #register.close {
  width: 0;
  height: 0;
  transform: scale(0);
  opacity: 0;
}

#hidden-menu {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 99%;
  height: 92vh;
}
#hidden-menu .user-content {
  margin-top: 3%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 92vh;
}
#hidden-menu .user-content::-webkit-scrollbar {
  width: 5px;
  height: 0;
  border-radius: 10px;
  background: #000;
}
#hidden-menu .user-content::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #fff;
}
#hidden-menu .user-content .user {
  display: flex;
  flex-direction: column;
  justify-content: column;
  align-items: center;
}
#hidden-menu .user-content .user input[type=radio] {
  display: none;
}
#hidden-menu .user-content .user input[type=radio]:checked ~ label {
  background: silver;
  color: #000;
  font-weight: bold;
  box-shadow: 2px 4px 2px silver;
}
#hidden-menu .user-content .user label {
  border: 1px solid;
  border-radius: 10px;
  padding: 0.2rem;
  box-shadow: 2px 4px 2px #fff;
  font-weight: normal;
  background: #fff;
  color: #000;
}
#hidden-menu .user-content .user label:hover {
  background: none;
  color: #fff;
}

@media screen and (min-width: 378px) {
  #home-page header div {
    width: 50%;
  }
  #home-page .form-home {
    width: 30rem;
  }

  #information #player-information {
    height: 40rem;
    top: 20%;
  }
}
@media screen and (min-width: 378px) and (orientation: landscape) {
  #information #player-information {
    top: 2%;
  }
}
@media screen and (min-width: 1280px) {
  #information #player-information {
    top: 10%;
  }
}

/*# sourceMappingURL=style.css.map */
