@media screen and (min-width: 378px){
  #home-page{
    header{
      div{
        width:50%;
      }
    }
    .form-home{
      width:30rem;
    }
  }
  #information{
    #player-information{
      height:40rem;
      top: 20%;
    }
  }
}