@font-face{
  font-family: 'welcom';
  src:url('../../font/ACE_RECORDS.TTF');
}

@font-face{
  font-family: 'pseudo';
  src:url('../../font/ARDESTINE.TTF');
}

@font-face{
  font-family: 'title';
  src:url('../../font/BLOX2.TTF');
}