<section id="player-information">
	<h1>Pseudo</h1>
	<div>
		<form action="" method="post">
			<fieldset>
				<legend>tank</legend>
				<span>
					<button type="submit" name="tank_down" class="btn btn-down">Moins</button>
					<h3>10</h3>
					<button type="submit" name="tank_up" class="btn btn-up">Plus</button>
				</span>
			</fieldset>
		</form>

		<form action="" method="post">
			<fieldset>
				<legend>dps</legend>
				<span>
					<button type="submit" name="dps_down" class="btn btn-down">Moins</button>
					<h3>10</h3>
					<button type="submit" name="dps_up" class="btn btn-up">plus</button>
				</span>
			</fieldset>
		</form>

		<form action="" method="post">
			<fieldset>
				<legend>heal</legend>
				<span>
					<button type="submit" name="heal_down" class="btn btn-down">Moins</button>
					<h3>10</h3>
					<button type="submit" name="heal_up" class="btn btn-up">plus</button>
				</span>
			</fieldset>
		</form>
	</div>
	<form action="" method="post">
		<button type="submit" name="reset-all" class="btn btn-reset">reset all</button>
	</form>
</section>